@using Homepage.Core.Model
@{
    ViewBag.Title = "Menu";
    Layout = "";
}

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand anchor-link" href="#home">@General.FirstName @General.LastName</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class ="active"><a class="anchor-link" href="#about">Sobre</a></li>
                <li><a class="anchor-link" href="#projects">Projetos</a></li>
                <li><a class="anchor-link" href="#git">GitHub</a></li>
                <li><a class="anchor-link" href="#contact">Contato</a></li>
            </ul>
        </div>
    </div>
</div>
<!--/.nav-collapse -->
